Students GPA XSD.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="informatics_course">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="athlete" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="firstname"/>
							<xs:element type="xs:string" name="surname"/>
							<xs:element type="xs:string" name="dateOfbirth"/>
							<xs:element type="xs:string" name="gender"/>
							<xs:element name="age">
								<xs:simpleType>
									<xs:restriction base="xs:short">
										<xs:minInclusive value="18"/>
										<xs:maxInclusive value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" name="maritalStatus"/>
							<xs:element type="xs:string" name="degree"/>
							<xs:element name="highSchool" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="country"/>
										<xs:element type="xs:string" name="city"/>
										<xs:element type="xs:string" name="schoolName"/>
										<xs:element name="graduationYear">
											<xs:simpleType>
												<xs:restriction base="xs:short">
													<xs:minInclusive value="1900"/>
													<xs:maxInclusive value="2015"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element type="xs:string" name="specialization"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="address">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="country"/>
										<xs:element type="xs:string" name="city"/>
										<xs:element type="xs:string" name="area"/>
										<xs:element type="xs:string" name="street"/>
										<xs:element type="xs:string" name="buildingNumber"/>
										<xs:element type="xs:string" name="index"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="contactInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="email" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="type" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="phoneNumber" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="type" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="personalWebpage"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="nationality"/>
							<xs:element type="xs:string" name="university"/>
							<xs:element type="xs:string" name="faculty"/>
							<xs:element name="studyProgram" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="programName">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="degree" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="studyLanguage"/>
										<xs:element name="GPA">
											<xs:simpleType>
												<xs:restriction base="xs:float">
													<xs:minInclusive value="1.0" />
													<xs:maxInclusive value="2.0" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="admissionYear">
											<xs:simpleType>
												<xs:restriction base="xs:short">
													<xs:minInclusive value="1960"/>
													<xs:maxInclusive value="2015"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="semester">
											<xs:simpleType>
												<xs:restriction base="xs:short">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="creditsObtaind">
											<xs:simpleType>
												<xs:restriction base="xs:short">
													<xs:minInclusive value="0"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="coursesPassed">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="course" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="courseName"/>
																<xs:element name="credits">
																	<xs:simpleType>
																		<xs:restriction base="xs:short">
																			<xs:minInclusive value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="pointsObtained">
																	<xs:simpleType>
																		<xs:restriction base="xs:short">
																			<xs:minInclusive value="0"/>
																			<xs:maxInclusive value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element type="xs:string" name="grade"/>
																<xs:element type="xs:short" name="examResult"/>
																<xs:element type="xs:string" name="teacher"/>
															</xs:sequence>
															<xs:attribute type="xs:string" name="type" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="languageSpoken" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="level" use="optional"/>
											<xs:attribute type="xs:string" name="certificate" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="entranceExamPassed" minOccurs="0"/>
							<xs:element name="scholarship">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="type"/>
										<xs:element name="amount">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:short">
														<xs:attribute type="xs:string" name="currency" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="frequency"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="job"/>
							<xs:element name="family">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="parent" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="firstname"/>
													<xs:element type="xs:string" name="surname"/>
													<xs:element type="xs:string" name="dateOfbirth"/>
													<xs:element name="contactInfo">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="email" minOccurs="0">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute type="xs:string" name="type" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="phoneNumber">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute type="xs:string" name="type" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="address">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="country"/>
																<xs:element type="xs:string" name="city"/>
																<xs:element type="xs:string" name="area"/>
																<xs:element type="xs:string" name="street"/>
																<xs:element type="xs:string" name="buildingNumber"/>
																<xs:element type="xs:string" name="index"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="sibling" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="firstname"/>
													<xs:element type="xs:string" name="surname"/>
													<xs:element type="xs:string" name="dateOfbirth"/>
													<xs:element name="contactInfo">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="email" minOccurs="0">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute type="xs:string" name="type" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="phoneNumber">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute type="xs:string" name="type" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="address">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="country"/>
																<xs:element type="xs:string" name="city"/>
																<xs:element type="xs:string" name="area"/>
																<xs:element type="xs:string" name="street"/>
																<xs:element type="xs:string" name="buildingNumber"/>
																<xs:element type="xs:string" name="index"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:short" name="aid" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>